html {
  --orange: rgb(255, 107, 1);
  /* --bg: rgb(255, 251, 243); */
  --bg: #212737;
  /* --white: rgb(33, 33, 33); */
  --white: rgb(251, 254, 251);
  /* --blue: #9e0d0d; */
  --secondblue: #2b77a4;
  --blue: #6abae8;
  /* --blue: #b86b13; */
  /* --blue: rgb(106, 186, 232); */
  --gray: rgb(152, 150, 150);
}
body {
  font-family:
    Space Mono,
    monospace;
  margin: auto;
  padding: 20px;
  max-width: 120ch;
  text-align: left;
  background-color: var(--bg);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.45;
  color: var(--white);
  font-size: 15px;
}
a {
  color: var(--blue);
  text-decoration: none;
}
.linkDecor:hover {
  color: var(--secondblue);
  padding-bottom: 3px;
  /* border-bottom: 1.5px dashed var(--blue); */
}

footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-items: center;
  margin: auto;
}

.invisible-link {
  color: var(--white);
  text-decoration: none;
}
.invisible-link:hover {
  color: var(--blue);
}

content {
  line-height: 1.6;
}

.cursive {
  /* font-family: monospace; */
  font-style: italic;
}

.border-skin-line {
  height: 1px;
  min-width: 100%;
  background: var(--blue);
  border: var(--blue);
}

ul {
  list-style: none;
}

.linkDecorButton {
  /* box-sizing: border-box; */
  appearance: none;
  background-color: transparent;
  border: 1.8px solid var(--secondblue);
  border-radius: 0.6em;
  color: var(--blue);
  cursor: pointer;
  /* display: flex; */
  align-self: center;
  font-size: 11px;
  font-weight: 300;
  /* line-height: 1; */
  /* margin: 40px 0px;
  margin-bottom: 30px; */
  padding: 2px 5px;
  text-decoration: none;
  text-align: center;
  /* text-transform: uppercase; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 700; */

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
  transition:
    box-shadow 300ms ease-in-out,
    color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px var(--secondblue) inset;
  }
}

.invisibleHr {
  height:0pt;
  margin-top: 5px;
  visibility:hidden;
}
