html {
  --orange: rgb(255, 107, 1);
  --bg: rgb(33, 39, 55);
  --white: rgb(251, 254, 251);
  --blue: rgb(106, 186, 232);
  --gray: rgb(152, 150, 150);
}
body {
  font-family: Space Mono, monospace;
  margin: auto;
  padding: 20px;
  max-width: 100ch;
  text-align: left;
  background-color: var(--bg);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--white);
}
a {
  /* color: var(--orange); */
  color: rgb(106, 186, 232);
  text-decoration: none;
}
.linkDecor:hover {
  padding-bottom: 3px;
  border-bottom: 1.5px dashed rgb(106, 186, 232);
}

.invisible-link {
  color: var(--white);
  text-decoration: none;
}
.invisible-link:hover {
  color: var(--blue);
}

content {
  line-height: 1.6;
}

.profile-pic {
  object-fit: contain;
  width: 40% !important;
  position: relative !important;
  height: unset !important;
}

.border-skin-line {
  height: 1px;
  min-width: 100%;
  background: var(--blue);
  border: var(--blue);
}

footer {
  padding: 25px;
  text-align: center;
}

ul {
  list-style: none;
}
