.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  align-self: center;
  display: block;
  padding: 10px;
  margin-left: 20px;
}
.address {
  font-size: 14px;
  padding: 20px;
  margin-left: -15px;
  margin-top: -30px;
}
/* 
.profilePic {
  object-fit: contain !important;
  width: 40% !important;
  position: relative;
  height: unset;
} */

.profilePic {
  width: 400px;
  height: auto;
  align-self: center;
}

@media (min-width: 800px) {
  .infoContainer {
    flex-direction: row;
  }
  .profilePic {
    width: 350;
    height: auto;
  }
}

@media screen and (min-width: 700px) and (max-width: 920px) {
  .profilePic {
    width: 300px;
    height: auto;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageCaption {
  font-size: 12px;
  align-content: center;
  margin: auto;
  margin-top: 5px;
}

.identifiers {
  /* font-size: 40px; */
  align-self: center;
  /* margin-left: 8%; */
}
